[Unit]
Description=TFA Weatherhub TFREC service
Requires=mosquitto.service
After=mosquitto.service

[Service]
Type=simple
User=tfrec
WorkingDirectory=/opt/tfrec
ExecStart=./tfrec -T 21 -q -e ./contrib/mqtt-publish.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
