[Unit]
Description=TFA Weatherhub TFREC service
Requires=mosquitto.service
After=mosquitto.service

[Service]
Type=simple
User=tfrec
WorkingDirectory=/opt/tfrec
ExecStart=/opt/tfrec/tfrec -T 21 -g 4500 -q -e /opt/tfrec/contrib/mqtt-publish.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
